version: 2.1

jobs:
  build:
    docker:
      - image: cimg/openjdk:17.0
    steps:
      - checkout
      - run:
          name: Make Gradle wrapper executable
          command: chmod +x ./gradlew

      - run:
          name: Build application
          command: ./gradlew build

      - setup_remote_docker

      - run:
          name: Docker build
          command: |
            docker build -t "${DOCKERHUB_USERNAME}/${GHA_IMAGE_NAME}:${CIRCLE_SHA1}" .

      - run:
          name: Docker login & push
          command: |
            echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            docker push "${DOCKERHUB_USERNAME}/${GHA_IMAGE_NAME}:${CIRCLE_SHA1}"

workflows:
  version: 2
  build-and-push:
    jobs:
      - build
