version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1

workflows:
  version: 2

  run-tests:
    jobs:
      - continuation/continue:
          configuration_path: ".circleci/tests.yml"
