version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1

workflows:
  choose_pipeline:
    jobs:
      - decide
jobs:
  decide:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout

      - run:
          name: Decide which pipeline to run
          command: |
            echo "Branch: $CIRCLE_BRANCH"
            echo "Tag: $CIRCLE_TAG"
            echo "run_build_pipeline: $run_build_pipeline"

            if [ "$run_build_pipeline" = "true" ]; then
              PIPELINE_FILE=".circleci/build_pipeline.yml"
            else
              PIPELINE_FILE=".circleci/tests_pipeline.yml"
            fi

            echo "Using: $PIPELINE_FILE"

            circleci agent step halt
            circleci continuation run \
              -c $PIPELINE_FILE \
              -p "{\"run_build_pipeline\": \"$run_build_pipeline\"}"
