version: 2.1

workflows:
  ci_pipeline:
    jobs:
      - build



jobs:


  build:
    docker:
      - image: cimg/openjdk:17.0
    steps:
      - checkout

      - run:
          name: Make Gradle wrapper executable
          command: chmod +x ./gradlew

      - run:
          name: Build and Test Kotlin Project
          command: ./gradlew build

      - setup_remote_docker

      - run:
          name: Docker Build 
          command: |
            docker build -t kotlin-hello:latest .