version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1

workflows:
  choose_pipeline:
    jobs:
      - decide
jobs:
  decide:
    docker:
      - image: cimg/base:current
    steps:
      - checkout

      - run:
          name: Install CircleCI CLI + continuation plugin
          command: |
            echo "Installing CircleCI CLI..."
            sudo curl -L "https://github.com/CircleCI-Public/circleci-cli/releases/download/v0.1.23266/circleci-cli_0.1.23266_linux_amd64.tar.gz" \
              -o circleci.tar.gz
            sudo tar -xzf circleci.tar.gz -C /usr/local/bin
            sudo chmod +x /usr/local/bin/circleci

            echo "Installing continuation plugin..."
            circleci plugin install continuation

      - run:
          name: Decide which pipeline to run
          command: |
            echo "Branch: $CIRCLE_BRANCH"
            echo "Tag: $CIRCLE_TAG"
            echo "run_build_pipeline: $run_build_pipeline"

            if [ "$run_build_pipeline" = "true" ]; then
              PIPELINE_FILE=".circleci/build_pipeline.yml"
            else
              PIPELINE_FILE=".circleci/tests_pipeline.yml"
            fi

            echo "Using: $PIPELINE_FILE"

            circleci continuation run \
              -c "$PIPELINE_FILE" \
              -p "{\"run_build_pipeline\": \"$run_build_pipeline\"}"

            exit 0
