version: 2.1

jobs:
  build-and-test:
    docker:
      - image: cimg/openjdk:17.0
    steps:
      - checkout
      - run:
          name: Make Gradle wrapper executable
          command: chmod +x ./gradlew
      - run:
          name: Build and run tests
          command: ./gradlew build

workflows:
  kotlin-ci:
    jobs:
      - build-and-test
