version: 2.1
setup: true

orbs:
  continuation: circleci/continuation@0.3.1

parameters:
  run_db_tests:
    type: string
    default: "0"

workflows:
  bootstrap:
    jobs:
      - continuation/continue:
          configuration_path: ".circleci/build.yml"
      - run-tests:
          run_db_tests: << pipeline.parameters.run_db_tests >>
      - continuation/continue:
          name: run-build-pipeline
          configuration_path: ".circleci/build.yml"
          requires:
            - run-tests
          parameters: |
            {"run_build_pipeline": true}

jobs:
  run-tests:
    parameters:
      run_db_tests:
        type: string
        default: "0"

    docker:
      - image: cimg/openjdk:17.0

    steps:
      - checkout
      - run: chmod +x ./gradlew

      - run:
          name: Run Unit Tests
          command: ./gradlew test
          environment:
            RUN_DB_TESTS: << parameters.run_db_tests >>
