version: 2.1

workflows:
  tests_pipeline:
    jobs:
      - run-tests:
          filters:
            branches:
              only: dev
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+(-rc.*)?$/

jobs:
  run-tests:
    docker:
      - image: cimg/openjdk:17.0
    steps:
      - checkout

      - run:
          name: Make Gradle executable
          command: chmod +x ./gradlew

      - run:
          name: Run unit tests
          command: ./gradlew test
          environment:
            RUN_DB_TESTS: "0"

      - run:
          name: Trigger Build Pipeline
          command: |
            echo "Tests passed. Triggering build pipeline..."

            curl -X POST \
              -H "Circle-Token: ${CIRCLECI_TRIGGER_TOKEN}" \
              -H "Content-Type: application/json" \
              -d '{"branch": "'"${CIRCLE_BRANCH}"'", "parameters": {"run_build_pipeline": true}}' \
              https://circleci.com/api/v2/project/github/dahamahmed11/kotlin-circleci-hello/pipeline

            echo "Build pipeline triggered."
